
#titulo{
    font-family: NotoSansJP;
}
body{
    background-color: white;
}
button{
    
    font-family: NotoSansJP;
    font-family: "Noto";
    padding: 30px 20px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: snow;
}
#btn_apresentacao{
    background-color: rgb(64, 224, 208);
}
#btn_habilidades{
    background-color: rgb(60, 157, 247);
}
#btn_experiencia{
    background-color: rgb(131, 73, 170);
}
#btn_redes{
    background-color: rgb(255, 123, 0);
}
#btn_contato{
    background-color: rgb(233, 72, 43);
}
