
#foto_autor{
    
    
}
#titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 60px;
    padding: 50px;
    background-color: rgb(5, 70, 70);
    color: rgb(255, 255, 255);
}
body{
    background-color: white;
    padding: 0px;
    margin:0px;

}
button{
    
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px 20px;
    border: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: snow;
}
#habilidades{
    background-color: rgba(175, 175, 175, 0.61);
}
#btn_apresentacao{
    background-color: rgb(64, 224, 208);
}
#btn_habilidades{
    background-color: rgb(60, 157, 247);
}
#btn_experiencia{
    background-color: rgb(131, 73, 170);
}
#btn_redes{
    background-color: rgb(255, 123, 0);
}
#btn_contato{
    background-color: rgb(233, 72, 43);
}
