/*
* Organizar a hierarquia 
* 
*/
*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: white;
}
.container{
    width: 80%;
    margin:0 auto;
}
.foto-autor{

}
.titulo{

}
.subtitulo{

}

.container a button{
    width: 100px;
    height: 55px;
}

#btn_apresentacao{
    background-color: rgb(64, 224, 208);
}
#btn_habilidades{
    background-color: rgb(60, 157, 247);
}
#btn_experiencia{
    background-color: rgb(131, 73, 170);
    }
#btn_redes{
    background-color: rgb(255, 123, 0);
}
#btn_contato{
    background-color: rgb(233, 72, 43);
}

