*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: white;
    margin-left:100px;
    width: 1000px;
    position: relative;
    

}
#foto_autor{
    margin: 0px;
    border: 0px;
    position:absolute;

        
    
}

.titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 60px;
    background-color: rgb(10, 99, 99);
    color: rgb(255, 255, 255);
    position:absolute;
    left: 150px;
    width:100%;
    height: 80px;
    
    padding: 0px;

}
.subtitulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 40px;
 
    background-color: rgb(5, 70, 70);
    color: rgb(255, 255, 255);
    position:absolute;
    left: 150px;
    width:100%;
    height: 80px;
    left: 600px;


}

button{    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;    
    color: snow;

}

#apresentação{

}
#habilidades{
    background-color: rgba(175, 175, 175, 0.61);
}
#btn_apresentacao{
    background-color: rgb(64, 224, 208);
    
    
}
#btn_habilidades{
    background-color: rgb(60, 157, 247);
    
        

}
#btn_experiencia{
    background-color: rgb(131, 73, 170);
    
    }
#btn_redes{
    background-color: rgb(255, 123, 0);
    
    
}
#btn_contato{
    background-color: rgb(233, 72, 43);
    
    
}
