/*
* Organizar a hierarquia 
* 
*/
*{
    margin: 0px;
    border: 0px;
}
body{
    background: url("./imagens/background.jpg") no-repeat right top fixed;
    background-size: 300%;
}
.container{
    background-color: cornsilk;
    width: 60%;
    margin:0 auto;

}
.foto_autor{
    width: 25%;
}
.informacoes{
    width: 45%;
    display: inline-block;
    position: absolute;
}
.nome,.funcao{
    color: white;
    height: 70px;
    display: inline-block;
    text-align: center;
}
.nome{
    background-color: rgb(81, 151, 113);
    line-height: 250%;
    width: 60%;
}
.funcao{
    width: 40%;
    line-height: 250%;
    background-color: cadetblue;
    position: absolute;
}
nav{
    display: inline-block;
    position:absolute;
    top: 70px;
    width: 45%;
}

.container a button{
    width: 100px;
    height: 70px;
}
.sociais{
    width: 20px;
}
#btn_apresentacao{
    background-color: rgb(64, 224, 208);
}
#btn_habilidades{
    background-color: rgb(60, 157, 247);
}
#btn_experiencia{
    background-color: rgb(131, 73, 170);
    }
#btn_redes{
    background-color: rgb(255, 123, 0);
}
#btn_contato{
    background-color: rgb(233, 72, 43);
}

